global-bin-dir=D:\Program Files\pnpm-store
registry=https://registry.npmmirror.com
cache-dir=D:\Program Files\pnpm-store\pnpm-cache
state-dir=D:\Program Files\pnpm-store\pnpm-state
global-dir=D:\Program Files\pnpm-store\global
store-dir=D:\Program Files\pnpm-store\pnpm-store
